/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

@import url('https://fonts.googleapis.com/css?family=Exo:400,600,700&subset=latin-ext');

a {
    color: #000;
    text-decoration: none;
}

body {
    font-family: 'Exo', sans-serif;
    overflow-x: hidden;
}

.container {
    width: 1440px;
}

#_desktop_logo {
    width: 168px;
    margin-top: 37px;
}

#header {
    background: #f2f3f5;
}

#header a {
    color: #C0C0C0;
    margin-top: 10px;
    font-size: 16px;
}

.search-widget form button[type=submit] .search:hover {
    color: #fff;
}

.search-widget form input[type=text]:focus,
.search-widget form input[type=text]:focus+button .search {
    color: #fff !important;
}

/* kontakt */
#header .header-nav #_desktop_contact_link #contact-link {
    margin-top: 24px;
    margin-left: -6px;
}

#header .header-nav {
    padding-top: 10px;
    background: #fff;
    max-height: none;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 10px;
    margin-bottom: 0 !important;
}

#pagenotfound .page-not-found, #products .page-not-found {
    box-shadow: none !important;
}

.top-menu {
    margin-top: 0;
    margin-bottom: 0;
}

#header .menu, #header .menu>ul>li {
    margin-right: 50px;
}

#header .header-top {
    padding: 0;
}

#header .menu>ul>li {
    padding-top: 27px;
    position: relative;
    padding-bottom: 27px;
}

#header .menu>ul>li:hover:before {
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    height: 3px;
    background: #8abf3c;
    background: -moz-linear-gradient(left, #8abf3c 0%, #409b00 100%);
    background: -webkit-linear-gradient(left, #8abf3c 0%,#409b00 100%);
    background: linear-gradient(to right, #8abf3c 0%,#409b00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#409b00',GradientType=1 );
}

#header .header-top a[data-depth="0"]:hover {
    color: #0e0e0e !important;
    font-size: 18px;
}

#header .header-top .search-widget {
    float: right;
    padding-top: 20px;
    padding-bottom: 20px;
}

#header .header-top .menu {
    padding-left: 15px;
    margin-bottom: .375rem;
}

.popover {
    top: 65px !important;
    padding: 15px;
    width: auto !important;
    min-width: auto !important;
}

#header .top-menu a {
    font-size: 18px;
    color: #0e0e0e;
    font-weight: 400;
}

#header .header-top a[data-depth="0"] {
    text-transform: none;
}

#header .top-menu a:hover {
    color: #8abf3c;
    text-decoration: none;
    font-size: 18px;
}

#header .header-top a[data-depth="0"] {
    color: #0e0e0e;
}

#header .header-top a[data-depth="0"]:hover {
    color: #8abf3c;
}

.carousel .carousel-item .caption {

}


/* koszyk */
#header .header-nav .blockcart {
    background: #ffffff;
    border: 1px solid #C0C0C0;
    border-radius: 50px;
    margin-top: 15px;
    padding: 10px;
    margin-bottom: 15px;
    height: 45px;

}

/* koszyk pełny*/

#header .header-nav .cart-preview.active {
    background: #F37272;
    border: 1px solid #f39d72;
    font-weight: 600;
}

#header .header-nav .user-info a:hover {
    text-decoration: none !important;
}

#header .header-nav .blockcart {
    color: #c0c0c0;
    font-size: 16px;
    float: right;
}

#header .header-nav .user-info {
    margin-left: 20px;
    margin-top: 16px;
    text-align: right;
    white-space: nowrap;
    margin-right: 42px;
    padding: 17px 37px !important;
}

#header .header-nav .blockcart .header {
    margin-top: 0 !important;
}

#header .header-nav .blockcart {
    margin-left: 21px;
    margin-top: 16px;
    text-align: right;
    white-space: nowrap;
    height: auto;
    padding: 16px 15px !important;
    margin-right: 3px;
    cursor: pointer;
}

.user-info .material-icons, #header .header-nav .cart-preview .shopping-cart {
    display: block;
}

#_desktop_user_info {
    order: 2;
}

#_desktop_cart {
    order: 1;
}

/* logowanie */
#header .header-nav .user-info {
    background: #8abf3c;
    background: -moz-linear-gradient(left, #8abf3c 0%, #409b00 100%);
    background: -webkit-linear-gradient(left, #8abf3c 0%,#409b00 100%);
    background: linear-gradient(to right, #8abf3c 0%,#409b00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#409b00',GradientType=1 );
    border-radius: 50px;
    padding: 10px;
    color: #ffffff;
    margin-right: 0;
}

#header .header-nav .user-info .logged {
    color: #fff !important;
}

#header .header-nav .user-info a {
    color: #ffffff;
    font-size: 16px;
}

/* szukajka */

.search-widget form input[type=text] {
    font-size: 16px;
    border: none;
    background: #ffffff;
    border-radius: 35px;
    padding: 10px;
    color: #0e0e0e;
}

.search-widget .material-icons {
    color: #fff;
    background: #8fc400;
    background: -moz-linear-gradient(left, #8fc400 0%, #409b00 100%);
    background: -webkit-linear-gradient(left, #8fc400 0%,#409b00 100%);
    background: linear-gradient(to right, #8fc400 0%,#409b00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#409b00',GradientType=1 );
    border-radius: 50px;
    margin-bottom: 2px;

}

.search-widget form input[type=text] {
    padding: 20px;
    font-size: 14px;
    color: #c0c0c0;
}

.search-widget .material-icons {
    padding: 10px;
    box-sizing: content-box;
    margin-bottom: 0 !important;
}

.search-widget form button[type=submit] {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    cursor: pointer;
}

#wrapper {
    background: #fff;
    box-shadow: none;
    padding-top: 0;
}

.carousel {
    box-shadow: 1px 1px 7px 0 rgba(0,0,0,.15);
    margin-bottom: 1.5rem;
    height: auto;
}

.carousel .carousel-inner {
    height: 100%;
}

.carousel-item figure {
    height: 100%;
    position: relative;
}

.carousel .carousel-item .caption {
    bottom: 45px;
    left: 100px;
}

#products .products-section-title,
.featured-products .products-section-title,
.product-accessories .products-section-title,
.product-miniature .products-section-title {
    text-align: left;
    text-transform: none!important;
    font-weight: 400;
    font-size: 26px;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

#products .products-section-title::after,
.featured-products .products-section-title::after,
.product-accessories .products-section-title::after,
.product-miniature .products-section-title::after {
    content: '';
    display: block;
    width: 52px;
    height: 3px;
    background: #8fc400;
    background: -moz-linear-gradient(left, #8fc400 0%, #409b00 100%);
    background: -webkit-linear-gradient(left, #8fc400 0%,#409b00 100%);
    background: linear-gradient(to right, #8fc400 0%,#409b00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#409b00',GradientType=1 );
    margin-top: 10px;
}

#products .thumbnail-container,
.featured-products .thumbnail-container,
.product-accessories .thumbnail-container,
.product-miniature .thumbnail-container {
    position: relative;
    margin: 0 auto 1.563rem auto;
    height: 378px;
    width: 310px;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.1);
    border: none;
}

#products .product-miniature,
.featured-products .product-miniature,
.product-accessories .product-miniature,
.product-miniature .product-miniature {
    margin: 0;
    position: relative;
}

#products .product-miniature .discount-amount,
#products .product-miniature .discount-percentage,
#products .product-miniature .on-sale,
#products .product-miniature .online-only,
#products .product-miniature .pack,
#products .product-miniature .product-flags .new,
.featured-products .product-miniature .discount-amount,
.featured-products .product-miniature .discount-percentage,
.featured-products .product-miniature .on-sale,
.featured-products .product-miniature .online-only,
.featured-products .product-miniature .pack,
.featured-products .product-miniature .product-flags .new,
.product-accessories .product-miniature .discount-amount,
.product-accessories .product-miniature .discount-percentage,
.product-accessories .product-miniature .on-sale,
.product-accessories .product-miniature .online-only,
.product-accessories .product-miniature .pack,
.product-accessories .product-miniature .product-flags .new,
.product-miniature .product-miniature .discount-amount,
.product-miniature .product-miniature .discount-percentage,
.product-miniature .product-miniature .on-sale,
.product-miniature .product-miniature .online-only,
.product-miniature .product-miniature .pack,
.product-miniature .product-miniature .product-flags .new {
    display: block;
    position: absolute;
    left: -.4375rem;
    color: #fff;
    background: #8ABF3C;
    text-transform: uppercase;
    min-width: 3.125rem;
    min-height: 1.875rem;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,.2);
    padding: 9px 16px;
    border-radius: 10px
}

.featured-products .product-miniature .discount-amount,
.featured-products .product-miniature .discount-percentage,
.product-accessories .product-miniature .discount-amount,
.product-accessories .product-miniature .discount-percentage,
#products .product-miniature .discount-amount,
#products .product-miniature .discount-percentage,
.product-miniature .product-miniature .discount-amount,
.product-miniature .product-miniature .discount-percentage {
    top: 15px !important;
    background: #F37272 !important;
}

#products img,
.featured-products img,
.product-accessories img,
.product-miniature img {
    width: 100%;
    margin: 0;
}

#products .product-title a,
.featured-products .product-title a,
.product-accessories .product-title a,
.product-miniature .product-title a {
    color: #000;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
}

#products .regular-price,
.featured-products .regular-price,
.product-accessories .regular-price,
.product-miniature .regular-price {
    color: #7a7a7a;
    text-decoration: line-through;
    font-size: .875rem;
    padding: 10px 15px;
    background: #F2F3F5;
    border-radius: 10px;
    margin: 10px 5px;
    display: inline-block;
}

#products .product-description,
.featured-products .product-description,
.product-accessories .product-description,
.product-miniature .product-description {
    position: absolute;
    z-index: 1;
    background: #fff;
    width: 100%;
    bottom: 0;
    height: 120px;
}

#products .highlighted-informations,
.featured-products .highlighted-informations,
.product-accessories .highlighted-informations,
.product-miniature .highlighted-informations {
    display: none;
}

.product-description:hover::after {
    display: none;
}

#products .thumbnail-container:focus .product-description:after,
#products .thumbnail-container:hover .product-description:after,
.featured-products .thumbnail-container:focus .product-description:after,
.featured-products .thumbnail-container:hover .product-description:after,
.product-accessories .thumbnail-container:focus .product-description:after,
.product-accessories .thumbnail-container:hover .product-description:after,
.product-miniature .thumbnail-container:focus .product-description:after,
.product-miniature .thumbnail-container:hover .product-description:after {
    display: none;
}

#products .product-price-and-shipping .price,
.featured-products .product-price-and-shipping .price,
.product-accessories .product-price-and-shipping .price,
.product-miniature .product-price-and-shipping .price {
    color: #fff;
    font-size: .875rem;
    padding: 10px 15px;
    background: #8ABF3C;
    border-radius: 10px;
    margin: 10px 5px;
    display: inline-block;
}

#products .product-title,
.featured-products .product-title,
.product-accessories .product-title,
.product-miniature .product-title {
    font-family: 'Exo', sans-serif;
}

.caption::after {
    display: table;
    content: '';
    clear: both;
}

.caption-link {
    padding: 15px;
    display: inline-block;
    background: #8fc400;
    background: -moz-linear-gradient(left, #8fc400 0%, #409b00 100%);
    background: -webkit-linear-gradient(left, #8fc400 0%,#409b00 100%);
    background: linear-gradient(to right, #8fc400 0%,#409b00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#409b00',GradientType=1 );
    color: #fff;
    border-radius: 50px;
    font-size: 14px;
    min-width: 170px;
    text-align: center;
    margin-top: 25px;
    float: left;
}

.caption-link:hover {
    color: #fff;
}

.banner img {
    border-radius: 3px;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
}

#custom-text {
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    border-radius: 3px;
    padding: 45px 25px;
    margin-top: 25px;
    margin-bottom: 100px;
}

#custom-text h2 {
    font-weight: 400;
    text-transform: none;
    color: #000;
}

#custom-text p {
    color: #ADA4A9;
}

.footer-container {
    position: relative;
    box-shadow: none;
}

.block_newsletter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #F2F3F5;
    padding: 15px;
}

.links,
.block_myaccount_infos,
.block-contact {
    margin-top: 135px;
}

.links .h3,
#block_myaccount_infos .h3 a,
.block-contact .h4 {
    font-size: 24px !important;
    text-decoration: none;
    font-weight: 400;
    text-transform: none !important;
}

.block-contact {
    border-left: 0;
}

.links .h3::after,
#block_myaccount_infos > a::after,
.block-contact .h4::after {
    content: '';
    display: block;
    width: 52px;
    height: 3px;
    background: #8fc400;
    background: -moz-linear-gradient(left, #8fc400 0%, #409b00 100%);
    background: -webkit-linear-gradient(left, #8fc400 0%,#409b00 100%);
    background: linear-gradient(to right, #8fc400 0%,#409b00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#409b00',GradientType=1 );
    margin-top: 5px;
    margin-bottom: 10px;
}

#custom-text h2::after {
    content: '';
    display: block;
    width: 52px;
    height: 3px;
    background: #8fc400;
    background: -moz-linear-gradient(left, #8fc400 0%, #409b00 100%);
    background: -webkit-linear-gradient(left, #8fc400 0%,#409b00 100%);
    background: linear-gradient(to right, #8fc400 0%,#409b00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#409b00',GradientType=1 );
    margin: 10px auto 20px auto;
}

.block_newsletter form input[type=email] {
    font-size: 14px;
    border: none;
    background: #ffffff;
    border-radius: 35px;
    padding: 10px;
    color: #0e0e0e;
}

.block_newsletter .form,
#block-newsletter-label {
    float: right !important;
    text-align: right;
    margin: 0;
    margin-right: 30px;
}

.links .collapse {
    margin-top: 25px;
}

.block-contact {
    font-size: 14px;
}

.block-contact-title {
    margin-bottom: 25px;
}

.block_newsletter p {
    padding-top: 13px;
}

.block_newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: -30px;
    z-index: 999;
    border-radius: 25px;
    background: #8fc400;
    background: -moz-linear-gradient(left, #8fc400 0%, #409b00 100%);
    background: -webkit-linear-gradient(left, #8fc400 0%,#409b00 100%);
    background: linear-gradient(to right, #8fc400 0%,#409b00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#409b00',GradientType=1 );
    text-transform: none;
    font-size: 14px;
    font-weight: 400;
}

.block_newsletter form input[type=email]:focus {
    border: 0;
    padding: 10px;
}

                                                /*Podstrona produkty*/

#wrapper .breadcrumb {
    background: transparent;
    padding: 15px 0;
}

#wrapper .breadcrumb li:after {
    content: "/";
    color: #7a7a7a;
    margin: 0;
}

.product-name .h1 {
    font-size: 30px;
}

.product-discount .regular-price {
    color: #a9a9a9;
    text-decoration: line-through;
    font-size: .875rem;
    padding: 8px 15px;
    background: #F2F3F5;
    border-radius: 5px;
    margin: 10px 5px;
    display: inline-block;
}

.has-discount.product-price .current-price span,
.current-price .regular,
.has-discount p {
    color: #fff;
    font-size: .875rem;
    padding: 10px 15px;
    background: #8ABF3C;
    border-radius: 5px;
    margin: 10px 5px;
    margin-top: -7px;
    display: inline-block;
}

.product-prices div {
    margin-bottom: .625rem;
    float: left;
}

.product-prices div {
    margin-bottom: .625rem;
    float: left;
}

.product-price {
    color: #b2d659;
    margin-top: 17px;
}

.has-discount .discount {
    color: #FFF;
    font-size: .875rem;
    padding: 10px 15px;
    background: #F37272 !important;
    border-radius: 5px;
    margin: 10px 5px;
}

.product-prices .tax-shipping-delivery-label {
    font-size: .8125rem;
    color: #7a7a7a;
    margin-top: 17px;
    margin-left: 15px;
}


.product-actions .add-to-cart .material-icons {
    display: none;
}

.product-quantity .input-group-btn-vertical .btn i {
    color: #8ABF3C !important;
}

.product-information {
    font-size: .9375rem;
    color: #232323;
    clear: both;
}

.product-variants>.product-variants-item select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*rozmiar*/
.product-variants>.product-variants-item select {
    background-color: #f2f3f5;
    color: #a9a9a9;
    font-weight: 600;
    box-shadow: none;
    border: none;
    border-radius: 5px;
}


.product-actions .control-label {
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    font-weight: 600;
}


.product-quantity #quantity_wanted {
    color: #a9a9a9;
    background-color: #f2f3f5;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    box-shadow: none;
}

/* ilość */
.bootstrap-touchspin {
    background: #f2f3f5;
    border-radius: 5px;
    width: auto;
    float: left;
    display: inline-block;
    box-shadow: none;
}

.bootstrap-touchspin-down,
.bootstrap-touchspin-up {
    position: relative;
}

.bootstrap-touchspin-down::after,
.bootstrap-touchspin-up::after {
    content: '';
    width: 1px;
    height: 20px;
    background: #a9a9a9;
    position: absolute;
    left: 0;
    bottom: 7px;
    z-index: 999;
}

.bootstrap-touchspin-up::after {
    bottom: 0;
    top: 7px;
}

.product-information .tabs .nav-tabs {
    border-bottom: 1px solid #a9a9a9 !important;
}

.product-description p span,
.product-information p span {
    font-family: 'Exo', sans-serif !important;
}

.product-information .tabs .nav-tabs .nav-item {
    float: left;
    margin-bottom: -1px;
}

.tabs .nav-tabs .nav-link.active,
.tabs .nav-tabs .nav-link:hover {
    border-width: 1px !important;
}

.product-quantity .input-group-btn-vertical .btn i {
    color: #a9a9a9;
    border: none;
    border-radius: 5px;
    box-shadow: none;
}
.product-quantity .input-group-btn-vertical .btn {
    padding: .5rem .6875rem;
    background: #f2f3f5;
    border: none;
    border-radius: 5px;
}

/* button koszyk */
.product-actions .add-to-cart {
    font-size: 14px;
    font-weight: unset;
    border-radius: 5px;
    background: #8fc400;
    background: -moz-linear-gradient(left, #8fc400 0%, #409b00 100%);
    background: -webkit-linear-gradient(left, #8fc400 0%,#409b00 100%);
    background: linear-gradient(to right, #8fc400 0%,#409b00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#409b00',GradientType=1 );
    text-transform: none;
    border: none;
    box-shadow: none;
    padding: 5px 45px;

}

#group_2 {
    background: #f2f3f5;
    float: left;
    padding: 10px;
    border-radius: 10px;
}

.product-variants>.product-variants-item ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color, .custom-checkbox input[type=checkbox]+span.color {
    border: 0;
    box-shadow: none;
}

.input-color:checked+span,
.input-color:hover+span,
.input-radio:checked+span,
.input-radio:hover+span {
    border: 0;
}

#group_2 label {
    height: 29px;
}

.product-variants>.product-variants-item ul li {
    height: 20px;
    float: none !important;
    display: block;
    margin: 0 10px;
    width: 20px;
}

#group_2::after {
    content: '';
    display: table;
    clear: both;
}

.product-images>li.thumb-container>.thumb.selected, .product-images>li.thumb-container>.thumb:hover {
    border: none;
}

/* boksy info */
.block-reassurance-item {
    background: #f2f3f5;
    border-radius: 5px;
    color: #a9a9a9;
    font-size: 13px;
    margin: 10px 5px;
    padding: 10px 15px;
    font-weight: 400;
}

#product #block-reassurance {
    box-shadow: none !important;
}

#block-reassurance {
    background: none;
    border: none;
    box-shadow: none;
}

#block-reassurance span {
    font-weight: 400;
}

.cart-total .value {
    font-weight: 700;
}

#main h1 {
    text-transform: none !important;
}

/* opis i szczegóły */

#block-reassurance li {
    border-bottom: none;
}

.tabs .nav-tabs .nav-link.active, .tabs .nav-tabs .nav-link:hover {
    border: none;
    border-bottom: 3px solid #8fc400;
}

.tabs .nav-tabs .nav-link.active {
    background: none;
    color: #a9a9a9;
    font-size: 13px;
    font-weight: unset;
}

.nav-item .nav-link, .nav-item .nav-separtor {
    color: #a9a9a9;
    font-size: 13px;
    font-weight: unset;
}

.tabs .nav-tabs .nav-link {
    color: #a9a9a9;
    border: 0 solid transparent;
}

.tabs {
    box-shadow: none;
    margin-top: 2rem;
    background: #f2f3f5;;
    padding: 1.25rem 1.875rem;
    border-radius: 5px;
}

#wrapper .breadcrumb li a {
    font-size: 14px;
    font-family: 'Exo', sans-serif;
    font-style: unset;
    color: #a9a9a9;
}

#category-description p span {
    font-size: 14px;
    font-family: 'Exo', sans-serif !important;
    color: #a9a9a9;
}

#wrapper .breadcrumb li a:hover {
    font-size: 14px;
    font-family: 'Exo', sans-serif !important;
    font-style: unset;
    color: #8acd4f;
}

.product-cover img {
    box-shadow: none;
    background: #fff;
}

li.product-flag {
    display: block;
    position: absolute;
    left: -.4375rem;
    color: #fff;
    background: #8ABF3C;
    text-transform: uppercase;
    min-width: 3.125rem;
    min-height: 1.875rem;
    font-size: 14px;
    font-weight: 600;
    box-shadow: none;
    padding: 9px 16px;
    border-radius: 10px
}

/* okno powiadomienia koszyk */
.modal-conten {
    position: relative;
    background-color: #f2f3f5;
    background-clip: padding-box;
    border: none;
    border-radius: 10px;
    outline: 0;
}

#blockcart-modal .modal-header {
    background: #8fc400;
    background: -moz-linear-gradient(left, #8fc400 0%, #409b00 100%);
    background: -webkit-linear-gradient(left, #8fc400 0%,#409b00 100%);
    background: linear-gradient(to right, #8fc400 0%,#409b00 100%);
}

#blockcart-modal .divide-right {
    border-right: 1px solid #dadada;
}

#blockcart-modal .product-name {
    color: #8abf3c;
    font-size: 1.125rem;
}

.btn-primary, .btn-secondary, .btn-tertiary {
    box-shadow: none;
}

.btn-secondary, .btn-tertiary {
    color: #a9a9a9;
    font-size: 14px;
    font-style: unset;
    background-color: #f6f6f6;
    border-color: transparent;
    border-radius: 5px;
}

.btn-primary {
    color: #fff;
    font-size: 14px;
    font-weight: unset;
    border-radius: 5px;
    background: #8fc400;
    background: -moz-linear-gradient(left, #8fc400 0%, #409b00 100%);
    background: -webkit-linear-gradient(left, #8fc400 0%,#409b00 100%);
    background: linear-gradient(to right, #8fc400 0%,#409b00 100%);
    border: none;
}

/* Kategorie i produkty */
.card {
    -webkit-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.1);
    border: none;
}

.cart-grid-body .card {
    box-shadow: none;
}

.cart-products-count {
    font-weight: 700;
}

#header .header-nav .cart-preview.active a, #header .header-nav .cart-preview.active i {
    font-weight: 400 !important;
}

.block-category {
    min-height: 250px;
}

.cart-grid-body .card-block {
    padding: 18px 0;
}

.js-search-filters-clear-all i {
    display: none;
}


.block-category #category-description p:first-child {
    margin: 20px 0 0 45px;
    width: 750px;
    font-size: 17px;
    line-height: 25px;
}

.block-category .category-cover {
    position: absolute;
    right: .75rem;
    bottom: 30px;
    margin-right: 30px;
}

.block-category .h1 {
    margin: 20px 0 0 45px;
    font-size: 24px;
    font-weight: unset;
    text-transform: none;
}

.block-category .h1::after{
    content: '';
    display: block;
    width: 52px;
    height: 4px;
    background: #8fc400;
    background: -moz-linear-gradient(left, #8fc400 0%, #409b00 100%);
    background: -webkit-linear-gradient(left, #8fc400 0%,#409b00 100%);
    background: linear-gradient(to right, #8fc400 0%,#409b00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#409b00',GradientType=1 );
    margin-top: 15px;
}

.block-categories {
    -webkit-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.1);
    border: none;
}

.block-categories .category-sub-menu {
    margin-left: 20px;
}

.block-categories .category-sub-menu li[data-depth="0"]>a {
    color: #a9a9a9;
    font-weight: 400;
    border-bottom: none;
}

.block-categories .category-sub-menu li {
    color: #8fc400;
    list-style-type: square;
}

/* filtry */
#search_filters, #search_filters_brands, #search_filters_suppliers {
    -webkit-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.1);
    border: none;
}

.product-miniature .thumbnail-container {
    width: 100% !important;
}

.btn-secondary, .btn-tertiary {
    font-size: 16px;
    font-weight: 400;
    color: #989898;
    border: none;
    background: #f2f2f2;
    border-radius: 40px;
}

.js-cancel-address {
    margin-right: 10px;
}

.btn-tertiary:hover{
    box-shadow: none;
    border:none;
    color: #fff;
}

.btn-tertiary .material-icons {
    font-size: 16px;
    color: #8fc400;
    float: right;
    margin: 3px 6px 0px 20px;
    font-weight: 600;
}

#search_filters .facet .facet-title,
#search_filters_brands .facet .facet-title,
#search_filters_suppliers .facet .facet-title {
    color: #0e0e0e;
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
}

.products .discount-product {
    left: 8px !important;
}

#search_filters .facet .facet-label a,
#search_filters_brands .facet .facet-label a,
#search_filters_suppliers .facet .facet-label a {
    font-size: 14px;
    color: #a9a9a9;
    display: inline-block;
}

.custom-checkbox input[type=checkbox]+span {
    background: #f2f2f2;
    margin-right: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    float: left;
}

.custom-checkbox label {
    text-align: left;
    float: left;
    width: 75%;
}

.custom-checkbox input[type=checkbox]+span
.checkbox-checked {
    display: none;
    margin: 1px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #8abf3c;
}

/* aktywne filtry */

.active_filters {
    background: #ffffff;
    -webkit-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.1);
    border: none;
}

.active_filters .active-filter-title {
    display: inline;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    margin-right: .625rem;
    margin-left: 0;
}

.active_filters .filter-block {
    font-size: 16px;
    font-weight: 400;
    color: #989898;
    border: none;
    background: #f2f2f2;
    border-radius: 40px;
    padding: 15px;
    box-shadow: none;
}


.product-information .manufacturer-logo {
    height: 35px;
    display: block;
    margin: 35px auto 0 auto;
}

.product-features>dl.data-sheet {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #646464;
}

.product-features>dl.data-sheet dd.value,
.product-features>dl.data-sheet dt.name {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 40%;
    flex: 1 0 40%;
    font-weight: 400;
    background: #f1f1f1;
    padding: .625rem;
    margin-right: .625rem;
    margin-bottom: 0;
    min-height: 2.5rem;
    word-break: normal;
    text-transform: capitalize;
}

.page-addresses .address,
.page-authentication #content {
    box-shadow: none !important;
}

#main h1 {
    text-align: left;
    font-size: 24px;
    color: #000;
    font-weight: 400;
    margin-bottom: 20px;
}

#main h1::after{
    content: '';
    display: block;
    width: 52px;
    height: 4px;
    background: #8fc400;
    background: -moz-linear-gradient(left, #8fc400 0%, #409b00 100%);
    background: -webkit-linear-gradient(left, #8fc400 0%,#409b00 100%);
    background: linear-gradient(to right, #8fc400 0%,#409b00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#409b00',GradientType=1 );
    margin-top: 15px;
}

#submit-login {
    font-weight: 400 !important;
    text-transform: none !important;
}

.active_filters .filter-block .close {
    font-size: 16px;
    color: #8fc400;
    float: right;
    margin: 1px 6px 0px 20px;
    font-weight: 600;
    padding-top: 1px;
}

/* lista dostepnych */

.products-sort-order .select-title {
    font-size: 16px;
    font-weight: 400;
    color: #989898;
    border: none;
    background: #f2f2f2;
    border-radius: 40px;
    padding: 15px;
    box-shadow: none;
    line-height: 1.6;
}

.products-sort-order .select-title i {
    position: relative;
    top: 2px;
}

.products-sort-order .dropdown-menu {
    left: 15px !important;
    border-radius: 10px;
}

.products-sort-order .select-list {
    background: #ffffff;
    color: #989898;
}

.products-sort-order .dropdown-menu {
    background: #ffffff;
    left: 60px;
    width: 100%;
    border: none;
    -webkit-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.1);
    margin: 5px 0 0 0;
    overflow: hidden;
}

.products-selection .sort-by-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: flex-end;
}

.products-sort-order .select-list:hover {
    color: #8fc400;
    background: #fff;
}

                                                            /*Strona logowania */
#main .page-content, #main .page-header {
    margin-bottom: 1.563rem;
    margin-top: 30px;
    color: #81bb35;
    text-align: center;
}

.page-addresses .address, .page-authentication #content {
    border: none;
    -webkit-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.1);
}

.form-control {
    background: #f1f1f1;
    color: #7a7a7a;
    border-radius: 5px;
    border: none;
}

.input-group .input-group-btn>.btn[data-action=show-password] {
    background: #8fc400;
    background: -moz-linear-gradient(left, #8fc400 0%, #409b00 100%);
    background: -webkit-linear-gradient(left, #8fc400 0%,#409b00 100%);
    background: linear-gradient(to right, #8fc400 0%,#409b00 100%);
    border-radius: 5px;
    font-size: 10px;
    height: 36px;
}

.login-form {
    margin-top: 25px;
}

.page-customer-account #content .forgot-password a {
    color: #000;
}

.page-customer-account #content .no-account {
    text-align: center;
    font-size: 14px;
    margin-top: 25px;
}

.page-customer-account #content .no-account a {
    color: #000;
}

/* rejestracja */

.page-addresses .address, .page-authentication #content a{
    color: #8fc400;
}

.card-block hr {
    display: none !important;
}

.custom-radio {
    margin-right: 0;
    border: none;
    background: #f1f1f1;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

.btn-secondary {
    font-size: 14px !important;
    border-radius: 5px;
}

body#checkout section.checkout-step .address {
    text-align: center;
    margin-left: 0;
}

body#checkout section.checkout-step .address-alias {
    width: 100%;
    text-align: center;
}

.custom-checkbox span {
    flex: 0 0 20px !important;
}
.custom-radio input[type=radio]:checked+span {
    display: block;
    background-color: #84be00;
    width: 10px;
    height: 10px;
    border-radius: 17%;
    position: absolute;
    left: 5px;
    top: 5px;
}

body#checkout section.checkout-step .forgot-password {
    margin-left: 0 !important;
}

body#checkout section.checkout-step .forgot-password a {
    font-size: 14px;
    color: #000;
}

body#checkout #header .header-nav {
    padding-top: 10px;
    background: #fff;
    max-height: none;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 10px;
    margin-bottom: 0 !important;
    box-shadow: none !important;
}

#header .header-nav .user-info .account {
    margin-left: 0;
    margin-right: 0;
    font-weight: 600;
}

body#checkout section.checkout-step .address-item {
    padding: 15px;
    border-radius: 15px;
}

body#checkout section.checkout-step .radio-block {
    width: 100%;
}

body#checkout section.checkout-step .address-item.selected {
    background: #dedede;
    border: 0;
}

.custom-checkbox input[type=checkbox] {
    margin-top: 0;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    width: 20px;
    float: left;
    height: 20px;
}

/* koszyk */

.cart-summary-line {
    clear: both;
}

.cart-detailed-actions .btn {
    text-transform: none !important;
}

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
    color: #a9a9a9;
    background-color: #f2f3f5;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    box-shadow: none;
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down,
.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
    padding: .5rem .6875rem;
    background: #f2f3f5;
    border: none;
    border-radius: 5px;
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down i,
.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up i {
    color: #8ABF3C !important;
}

.cart-summary-products a {
    color: #000 !important;
}

.page-my-account #content .links a span.link-item {
    box-shadow: none;
}

.page-my-account #content .links a i {
    color: #646464 !important;
}

.page-my-account #content .links a:hover i {
    color: #000 !important;
}

.js-search-filters-clear-all {
    padding: 15px;
}

body#checkout section.checkout-step {
    box-shadow: none;
}

.page-addresses .addresses-footer {
    text-align: left;
}

.page-addresses .address {
    color: #000;
}

.page-addresses .address {
    padding: 15px;
    background: #dedede;
    border-radius: 15px;
}

.block_newsletter p.alert {
    text-align: center;
    margin-top: 10px;
    position: relative;
    padding: 0;
}

#header .header-nav #menu-icon {
    margin-top: 18px;
}

.dropdown-menu {
    width: 90% !important;
}

#mobile_top_menu_wrapper .top-menu a[data-depth="0"] {
    padding: 25px;
}

.js-top-menu.mobile i {
    position: relative;
    top: -3px;
}

.contact-rich .block {
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.contact-rich h4 {
    text-align: left;
    font-size: 24px;
    color: #000;
    font-weight: 400;
    margin-bottom: 40px;
}

.contact-form h3 {
    text-transform: none;
    color: #232323;
    text-align: left;
    font-size: 14px;
}

.contact-rich h4::after {
    content: '';
    display: block;
    width: 52px;
    height: 4px;
    background: #8fc400;
    background: -moz-linear-gradient(left, #8fc400 0%, #409b00 100%);
    background: -webkit-linear-gradient(left, #8fc400 0%,#409b00 100%);
    background: linear-gradient(to right, #8fc400 0%,#409b00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#409b00',GradientType=1 );
    margin-top: 15px;
}

@media (min-width: 768px) {
    .search-widget {
        min-width: 237px;
        margin-right: 13px;
    }

    .user-info .material-icons,
    #header .header-nav .cart-preview .shopping-cart {
        display: none;
    }

    #header .header-nav .user-info {
        margin-right: 42px;
    }

    .dropdown-menu {
        width: 10rem !important;
    }

    .carousel .carousel-item .caption {
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translateY(-50%);
        text-align: left;
        height: 306px;
    }

    .carousel {
        height: 510px;
    }

    .carousel .carousel-item .caption {
        bottom: 5px;
        left: 165px;
    }

    .carousel .caption h2 {
        margin-bottom: 40px;
    }

    #header .header-top .search-widget {
        float: right;
        padding-top: 20px;
        padding-bottom: 0;
    }

    #main h1 {
        margin-bottom: 5px;
    }

    .carousel .caption h2::after {
        content: '';
        display: block;
        width: 52px;
        height: 3px;
        background: #8fc400;
        background: -moz-linear-gradient(left, #8fc400 0%, #409b00 100%);
        background: -webkit-linear-gradient(left, #8fc400 0%,#409b00 100%);
        background: linear-gradient(to right, #8fc400 0%,#409b00 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#409b00',GradientType=1 );
        margin-top: 10px;
    }

    .carousel .carousel-item img {
        max-width: 100%;
        height: auto;
        margin-left: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Kontakt */

.input-group .input-group-btn>.btn {
    background: #8fc400;
    background: -moz-linear-gradient(left, #8fc400 0%, #409b00 100%);
    background: -webkit-linear-gradient(left, #8fc400 0%,#409b00 100%);
    background: linear-gradient(to right, #8fc400 0%,#409b00 100%);
    border-radius: 5px;
    font-size: 10px;
    padding-top: 12px;
    height: 36px;
    text-transform: none;
}


.form-control-comment {
    text-align: left;
}

.pagination .current a {
    color: #8abf3c;
}

.footer-container li a:hover {
    color: #8abf3c;
}

.dropdown:hover {
    color: #8abd3c;
}
@media (max-width: 767px) {
    #header .header-nav .top-logo {
        line-height: 50px;
        vertical-align: middle;
        width: 200px;
        float: left;
        margin-left: 15px;
        position: relative;
        top: 20px;
    }

    #category #content-wrapper,
    #category #search_filter_toggler,
    #category #left-column #search_filter_controls button {
        border-radius: 25px;
    }

    label {
        clear: none;
    }

    #authentication .radio-inline,
    #identity .radio-inline {
        margin-left: 10px;
    }

    .custom-checkbox label {
        width: 80%;
    }

    .links .collapse {
        margin-top: 0;
    }

    .block_newsletter {
        position: relative;
        padding: 15px;
    }

    .block_newsletter form .input-wrapper {
        margin-left: 10px;
    }

    .block_newsletter form input[type="submit"] {
        right: -15px;
    }

    .footer-container .links .h3 {
        float: left;
    }

    .links .h3::after,
    #block_myaccount_infos > a::after,
    .block-contact .h4::after {
        display: none;
    }

    .links,
    .block_myaccount_infos,
    .block-contact {
        margin-top: 0;
    }

    .links:first-child {
        margin-top: 135px;
    }
}