/* okno */
.modal-content {
    position: relative;
    background-color: #f2f3f5;
    background-clip: padding-box;
    border: none;
    border-radius: 10px;
    outline: 0;
}

#blockcart-modal .modal-header {
    background: #8fc400;
    background: -moz-linear-gradient(left, #8fc400 0%, #409b00 100%);
    background: -webkit-linear-gradient(left, #8fc400 0%,#409b00 100%);
    background: linear-gradient(to right, #8fc400 0%,#409b00 100%);
}

#blockcart-modal .divide-right {
    border-right: 1px solid #dadada;
}

#blockcart-modal .product-name {
    color: #8abf3c;
    font-size: 1.125rem;
}

.btn-primary, .btn-secondary, .btn-tertiary {
    box-shadow: none;
}

.btn-secondary, .btn-tertiary {
    color: #a9a9a9;
    font-size: 14px;
    font-style: unset;
    background-color: #f6f6f6;
    border-color: transparent;
    border-radius: 5px;
}

.btn-primary {
    color: #fff;
    font-size: 14px;
    font-weight: unset;
    border-radius: 5px;
    background: #8fc400;
    background: -moz-linear-gradient(left, #8fc400 0%, #409b00 100%);
    background: -webkit-linear-gradient(left, #8fc400 0%,#409b00 100%);
    background: linear-gradient(to right, #8fc400 0%,#409b00 100%);
    border: none;
}